In [1]:
import pandas as pd
import sys
sys.path.insert(0,"..\seir\scrap") 
sys.path.append("..") 
from seir.scrap import df

In [5]:
def properties(x):
    delta = list(x.sort_values(by="Date Announced",ascending=True)["Patient Number"].diff(periods=1))[-1]
    sigma = x["Patient Number"].sum()
    return pd.Series({"Sigma":sigma,"Delta":delta})
     
states = df.groupby(["States","Latitude","Longitude","Date Announced"],as_index=False)["Patient Number"].count()
# states = df.groupby(["States","Latitude","Longitude"],as_index=False).apply(properties).reset_index()
states[states.States=="Maharashtra"]

          States   Latitude  Longitude Date Announced  Patient Number
211  Maharashtra  19.250232  73.160175     2020-03-09               2
212  Maharashtra  19.250232  73.160175     2020-03-10               3
213  Maharashtra  19.250232  73.160175     2020-03-11               5
214  Maharashtra  19.250232  73.160175     2020-03-12               4
215  Maharashtra  19.250232  73.160175     2020-03-13               3
216  Maharashtra  19.250232  73.160175     2020-03-14              14
217  Maharashtra  19.250232  73.160175     2020-03-15               2
218  Maharashtra  19.250232  73.160175     2020-03-16               6
219  Maharashtra  19.250232  73.160175     2020-03-17               2
220  Maharashtra  19.250232  73.160175     2020-03-18               4
221  Maharashtra  19.250232  73.160175     2020-03-19               4
222  Maharashtra  19.250232  73.160175     2020-03-20               5
223  Maharashtra  19.250232  73.160175     2020-03-21              10
224  Maharashtra  19.250232  73.160175     2020-03-22              10
225  Maharashtra  19.250232  73.160175     2020-03-23              23
226  Maharashtra  19.250232  73.160175     2020-03-24              10
227  Maharashtra  19.250232  73.160175     2020-03-25              15
228  Maharashtra  19.250232  73.160175     2020-03-26               8
229  Maharashtra  19.250232  73.160175     2020-03-27              26
230  Maharashtra  19.250232  73.160175     2020-03-28              30
231  Maharashtra  19.250232  73.160175     2020-03-29              17
232  Maharashtra  19.250232  73.160175     2020-03-30              35
233  Maharashtra  19.250232  73.160175     2020-03-31              64
234  Maharashtra  19.250232  73.160175     2020-04-01              33
235  Maharashtra  19.250232  73.160175     2020-04-02              88
236  Maharashtra  19.250232  73.160175     2020-04-03              64
237  Maharashtra  19.250232  73.160175     2020-04-04             148
238  Maharashtra  19.250232  73.160175     2020-04-05              55

In [64]:
def squash(x):
    i = x.min()
    a = x.max()
    return (x-i)/(a-i)

squash(states.Sigma)

0     0.006811
1     0.418274
2     0.001238
3     0.049443
4     0.039345
5     0.014644
6     0.008211
7     0.777583
8     0.007532
9     0.154743
10    0.118314
11    0.006557
12    0.124305
13    0.005731
14    0.148984
15    0.260885
16    0.003745
17    0.303808
18    1.000000
19    0.001589
20    0.000000
21    0.043545
22    0.006538
23    0.073234
24    0.300228
25    0.860169
26    0.476641
27    0.372923
28    0.040386
29    0.065043
Name: Sigma, dtype: float64

In [11]:
x=states[states.States=="Maharashtra"]
x=list(x.sort_values(by="Date Announced",ascending=True)["Date Announced"].fillna(0))
int((x[-1]-x[0]).days)
x[0]

27

In [15]:
pd.Series(x).dt.strftime("%d %b")

0     09 Mar
1     10 Mar
2     11 Mar
3     12 Mar
4     13 Mar
5     14 Mar
6     15 Mar
7     16 Mar
8     17 Mar
9     18 Mar
10    19 Mar
11    20 Mar
12    21 Mar
13    22 Mar
14    23 Mar
15    24 Mar
16    25 Mar
17    26 Mar
18    27 Mar
19    28 Mar
20    29 Mar
21    30 Mar
22    31 Mar
23    01 Apr
24    02 Apr
25    03 Apr
26    04 Apr
27    05 Apr
dtype: object