In [1]:
import pandas as pd
import sys
sys.path.insert(0,"..\seir\scrap") 
sys.path.append("..") 
from seir.scrap import df

In [48]:
def properties(x):
    delta = list(x.sort_values(by="Date Announced",ascending=True)["Patient Number"].diff(periods=1))[-1]
    sigma = x["Patient Number"].sum()
    return pd.Series({"Sigma":sigma,"Delta":delta})
     
df.groupby(["States","Latitude","Longitude","Patient Number","Date Announced"],as_index=False)
states = df.groupby(["States","Latitude","Longitude"],as_index=False).apply(properties).reset_index()

In [64]:
def squash(x):
    i = x.min()
    a = x.max()
    return (x-i)/(a-i)

squash(states.Sigma)

0     0.006811
1     0.418274
2     0.001238
3     0.049443
4     0.039345
5     0.014644
6     0.008211
7     0.777583
8     0.007532
9     0.154743
10    0.118314
11    0.006557
12    0.124305
13    0.005731
14    0.148984
15    0.260885
16    0.003745
17    0.303808
18    1.000000
19    0.001589
20    0.000000
21    0.043545
22    0.006538
23    0.073234
24    0.300228
25    0.860169
26    0.476641
27    0.372923
28    0.040386
29    0.065043
Name: Sigma, dtype: float64

,States,Latitude,Longitude,Date Announced,Patient Number
0,Andaman and Nicobar Islands,11.667026,92.735983,2020-03-26,1
1,Andaman and Nicobar Islands,11.667026,92.735983,2020-03-27,5
2,Andaman and Nicobar Islands,11.667026,92.735983,2020-03-28,3
3,Andaman and Nicobar Islands,11.667026,92.735983,2020-03-30,1
4,Andhra Pradesh,14.750429,78.570026,2020-03-12,1
...,...,...,...,...,...
367,West Bengal,22.580390,88.329947,2020-03-28,3
368,West Bengal,22.580390,88.329947,2020-03-29,3
369,West Bengal,22.580390,88.329947,2020-03-30,1
370,West Bengal,22.580390,88.329947,2020-03-31,15
371,West Bengal,22.580390,88.329947,2020-04-02,16

In [ ]:
df[df.States==]